body{
    margin-top: 20px;
    background-color: lightgrey;
}

.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.topbar{
    background-color: teal;
    overflow: hidden;
}

.topbar a{
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}


.sidebar{
    background-color: rgb(171, 171, 171);
    color: white;
    height: 100%;
}
.sidebar h7{
    color: aqua;
}
.sidebar i{
    margin-right: 4px;
}

hr{
    opacity: 25.25;
}



.sidebar a{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}
.circle{
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: nowrap;
}
.image{
    width: 65px;
    height: 65px;
}
.circle h4{
    margin-left: 8px;
    margin-bottom: 0px;
}

.circle h7{
    margin-top: 37px;
    color: white;
    margin-left: -124px;
}
button{
    width: 100px;
    background-color: lightblue;
    color: black;
}

.join button{
    margin-left: 50px;
    margin-right: 8px;
}

.hiker h7{
    margin-left: 8px;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: whitesmoke;
}